<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <form method="post">
        <label for="operacao">Operação</label>
        <select name="operacao" id="operacao">
            <option value="soma">Soma</option>
            <option value="subtracao">Subtração</option>
            <option value="divisao">Divisão</option>
            <option value="multiplicacao">Multiplicação</option>
        </select><br>
        <label for="valor1">Valor 1</label>
        <input type="number" name="valor1" id="valor1"><br>
        <label for="valor2">Valor 2</label>
        <input type="number" name="valor2" id="valor2"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>