<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostra Usuarios</title>
</head>
<body>

    <form method="post">
        <label for="search">Pesquisar</label>
        <input type="search" name="pesquisar" id="search">
        <input type="submit" value="Pesquisar">
    </form>


    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
        </tr>
        <% Usuarios.forEach(function(usuario){ %>
            <tr>
                <td><%=usuario.nome%></td>
                <td><%=usuario.email%></td>
                <td>
                    <img src="/<%=usuario.foto%>" width="200px" alt="Foto do perfil">
                </td>
            </tr>
        <%})%>
    </table>
</body>
</html>