<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Tabela</title>
    <style>
        table{
            border: 4px solid black;
        }
        tr,td {
            border: 2px solid black;

        }
        td{
            text-align: center;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <form method="post">
        <label for="linhas">Linhas</label>
        <input type="number" min='1' name="linhas" id="linhas">
        <label for="colunas">Colunas</label>
        <input type="number" min='1' name="colunas" id="colunas">
        <input type="submit" value="Criar">
    </form>

    
    <%if(typeof linhas !=='undefined'&&typeof colunas !=='undefined'){%>
        <table>
            <%let num = 1;%>
            <%for(let i = 1;i<=linhas;i++){%>
                <tr>
                    <%for(let j = 1;j<=colunas;j++){%>
                        <td><%=num%></td>
                        <%num++;%>
                    <%}%>
                </tr>
            <%}%>
        </table>
    <%}%>
    

</body>
</html>