<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Imagem</title>
</head>
<body>
    <h1>Upload de fotos</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="foto">Foto</label>
        <input type="file" accept="image/*" name="foto" id="foto"><br>
        <input type="submit" value="Enviar Foto">
    </form>
</body>
</html>