<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <style>
        body{
            background-color: aquamarine;
        }
        div{
            background-color: white;
            margin: auto;
            width: 1024px;
            text-align: left;
            padding: 5px;
            padding-bottom: 20px;
            
        }
        input{
            margin-top: 5px;
            padding: 5px;
        }
        
    </style>
</head>
<body>
    <div>
        <form method="post" enctype="multipart/form-data">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome."><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Digite seu email."><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha."><br>
            <label for="foto">Foto:</label>
            <input type="file" name="foto" id="foto"><br>
            <label for="datanasc">Data de Nascimento</label>
            <input type="date" name="datanasc" id="datanasc"><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>